body, html{
    height:100%;
}
.navbar{
    background-color: rgba(11, 117, 255, 0.5);
    overflow: hidden;
}
.navbar ul{
    list-style:none;
    text-align:center;
    float:right;
    margin: 15px 20px 20px 0px;
}
.navbar li{
    font-size:25px;
    color:black;
    padding:10px 20px;
    float:left;
}
.link{
    text-decoration: none;
    color:black;
}
.icon{
    margin: 10px 30px;
    text-align:center;
    color:black;
}
.navbar a:hover{
    color: rgba(20,20,20,.5);
    text-decoration:none;
}
.titleWrapper{ 
   background-image: url("https://cdn3.sportngin.com/attachments/photo/3796/3314/sticksup2_large.jpg");
   background-repeat: no-repeat;
   background-position:center;
   background-size:cover;
   opacity:.70;
   height:100%;
   margin-top:-20px;
   padding:150px 5px 150px 5px;
}
.wordbox{
    margin-left:100px;
    margin-right:100px;
    background-color:rgb(252, 4, 4);
    border-radius:25px;
}
#title h1{
    padding:10px;
    font-weight:bold;
    text-align: center;
    color:rgba(0, 0, 0, 1);
    font-size:70px;
}
.mainback{
    background-color: rgba(11, 117, 255, 0.5);
    height:100%;
    padding:10px;
}
.art1back{
    background-color: rgba(252, 4, 4, .7);
    height:100%;
    padding:10px;  
}
.art2back{
    background-color: rgba(11, 117, 255, 0.5);
    height:100%;
    padding:10px;
}
.art3back{
    background-color: rgba(252, 4, 4, .7);
    height:100%;
    padding:10px;
}
.footback{
    background-color:rgb(189, 184, 184);
    height:100%;
    padding:10px;
}
#main h4, #art1 h4, #art2 h4, #art3 h4{
    font-size:42px;
    text-align:center;
    color:black;
}
#main p, #art1 p, #art2 p, #art3 p{
    font-size:25px;
    color:black;
    padding:10px;
    text-align:center;
}
#art3 ol{
    font-size:25px;
    color:black;
    padding:40px;
}
#main img, #art1 img, #art2 img, #art3 img{
    width:100%;
    padding:10px;
    vertical-align:middle;
}
.weblink{
    text-decoration:underline;
    color:blue;
}
.weblink:hover{
    color:blueviolet;
}
.topText{
    font-size:18px;
    text-align:center;
}
.topA{    
    text-decoration:none;
    color:black;
}
.topA:hover{
    text-decoration:none;
    color:rgba(20,20,20,.5);
}
.break{
    border: 5px solid black;
    margin-top:0px;
    margin-bottom:0px;
}
.foottext{
    text-align:center;
    color:black;
    font-size:15px;
}


